<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyPaper</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetInfo</servlet-name>
    <servlet-class>control.gra.GetInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInfo</servlet-name>
    <url-pattern>/getInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gramsg</servlet-name>
    <servlet-class>control.gra.Gramsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gramsg</servlet-name>
    <url-pattern>/gramsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStdArticle</servlet-name>
    <servlet-class>control.tutor.GetStdArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStdArticle</servlet-name>
    <url-pattern>/getStdArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <session-config>
<session-timeout>15</session-timeout>
</session-config>
   <servlet>
    <servlet-name>TutorToMsg</servlet-name>
    <servlet-class>control.tutor.TutorToMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorToMsg</servlet-name>
    <url-pattern>/tutorToMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MsgToStd</servlet-name>
    <servlet-class>control.tutor.MsgToStd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgToStd</servlet-name>
    <url-pattern>/msgToStd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubScore</servlet-name>
    <servlet-class>control.fam.SubScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubScore</servlet-name>
    <url-pattern>/subScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMessage</servlet-name>
    <servlet-class>control.gra.GetMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessage</servlet-name>
    <url-pattern>/getMessage</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GetStage</servlet-name>
    <servlet-class>control.gra.GetStage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStage</servlet-name>
    <url-pattern>/getStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTitle</servlet-name>
    <servlet-class>control.gra.GetTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTitle</servlet-name>
    <url-pattern>/getTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyTitle</servlet-name>
    <servlet-class>control.gra.ApplyTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyTitle</servlet-name>
    <url-pattern>/applyTitle</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>StartPaperUploadServlet</servlet-name>
    <servlet-class>control.gra.StartPaperUploadServlet</servlet-class>
    <init-param>
      <param-name>savePath</param-name>
      <param-value>WEB-INF/startuploads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartPaperUploadServlet</servlet-name>
    <url-pattern>/StartPaperUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>control.gra.FileUploadServlet</servlet-class>
    <init-param>
      <param-name>savePath</param-name>
      <param-value>WEB-INF/uploads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetScore</servlet-name>
    <servlet-class>control.gra.GetScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScore</servlet-name>
    <url-pattern>/getScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTutorInfo</servlet-name>
    <servlet-class>control.tutor.GetTutorInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTutorInfo</servlet-name>
    <url-pattern>/getTutorInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTutorMessage</servlet-name>
    <servlet-class>control.tutor.GetTutorMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTutorMessage</servlet-name>
    <url-pattern>/getTutorMessage</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GetFamInfo</servlet-name>
    <servlet-class>control.fam.GetFamInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFamInfo</servlet-name>
    <url-pattern>/getFamInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindStuArticle</servlet-name>
    <servlet-class>control.tutor.FindStuArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStuArticle</servlet-name>
    <url-pattern>/FindStuArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>control.tutor.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartPaperDownloadSevlet</servlet-name>
    <servlet-class>control.tutor.StartPaperDownloadSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartPaperDownloadSevlet</servlet-name>
    <url-pattern>/StartPaperDownloadSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubTitles</servlet-name>
    <servlet-class>control.fam.SubTitles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubTitles</servlet-name>
    <url-pattern>/subTitles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubStageInfo</servlet-name>
    <servlet-class>control.fam.SubStageInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubStageInfo</servlet-name>
    <url-pattern>/subStageInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeUploadServlet</servlet-name>
    <servlet-class>control.fam.NoticeUploadServlet</servlet-class>
    <init-param>
      <param-name>savePath</param-name>
      <param-value>WEB-INF/downloads</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeUploadServlet</servlet-name>
    <url-pattern>/NoticeUploadServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ReleaseNotice</servlet-name>
    <servlet-class>control.fam.ReleaseNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReleaseNotice</servlet-name>
    <url-pattern>/ReleaseNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowNotice</servlet-name>
    <servlet-class>control.fam.ShowNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNotice</servlet-name>
    <url-pattern>/ShowNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeDownload</servlet-name>
    <servlet-class>control.gra.NoticeDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeDownload</servlet-name>
    <url-pattern>/NoticeDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetLoad</servlet-name>
    <servlet-class>control.gra.GetLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLoad</servlet-name>
    <url-pattern>/GetLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addtutor</servlet-name>
    <servlet-class>control.admin.Addtutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addtutor</servlet-name>
    <url-pattern>/addtutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addfa</servlet-name>
    <servlet-class>control.admin.Addfa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addfa</servlet-name>
    <url-pattern>/addfa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addstu</servlet-name>
    <servlet-class>control.admin.Addstu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addstu</servlet-name>
    <url-pattern>/addstu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Score</servlet-name>
    <servlet-class>control.tutor.Score</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Score</servlet-name>
    <url-pattern>/score</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitScore</servlet-name>
    <servlet-class>control.tutor.SubmitScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitScore</servlet-name>
    <url-pattern>/submitScore</url-pattern>
  </servlet-mapping>
</web-app>